.DS_store
.composer.hash
composer.lock
config/cache.php
config/based_config.php
config/config.php
config/define.php
config/config_db*
config/config_db.php
/config/config_db.php
config/glpi.key
config/glpicrypt.key
config/local_define.php
files/_log/php-errors.log
files/_log/event.log
files/_log/cron.log
tests/config_db*
tests/cache.php
marketplace/*
!marketplace/.gitkeep
files/*/*
!files/*/.gitkeep
!files/.htaccess
.buildpath
.project
.settings/
.vscode/
.idea/
tools/composer.lock
tools/vendor/
tools/api/
tools/htmlcov/
vendor/*
!/vendor/.htaccess
phpunit.xml
tests/code-coverage/
tests/coverage-*/
tests/files/
tests/.env
tests/glpicrypt.key
nbproject
.package.hash
package-lock.json
public/build/
public/lib/
!public/lib/jquery.rateit.*
tests/web/error.log
inventory-vendors/*.json
locales/*.mo
